.home-btn {
  padding: 15px 45px;
  margin-bottom: 15px;
  background-color: #009688;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 10px;
}

.home-btn:hover{
    color: white;
}